* {
    margin: 0;
    padding: 0;
    font-family:'Vibur', cursive;
    
}

.contenedor {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt {
    color: rgb(218, 15, 15);
    font-size: 2300%;
    justify-content: center;
}
.txt .ajo {
    width: 35%;
    margin: 0 auto;
    animation-name: ajo;
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
}

@keyframes ajo {
    
    0%{
        transform: rotate(360deg);
    }
}

.cartel1 img {
    width: 25%;
}
.contenedor .cartel1{
    position: absolute;
    animation-name: carteles;
    animation-duration: 2s;
    top: 6%;
}
.cartel2 img {
    width: 90%;
}
.contenedor .cartel2 {
    position: absolute;
    left: 75%;
    top: 40%;
    animation-name: carteles;
    animation-duration: 5s;
}

@keyframes carteles {
    0% {
        opacity: 0%;
        transform: scale(0.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1.0);
    }
}

.txt2 h1 {
    font-size: 180%;
    position: absolute;
    left: 23%;
    top: 70%;
}

.txt2 a {
    font-size: 140%;
    width: 20%;
    position: absolute;
    left: 38%;
    top: 80%;
    text-decoration: none;
    border-radius: 30px;
    background-color: rgba(192, 11, 11, 0.747);
}